// import _utils.scss
@import 'utils';

// import _base.scss
@import 'base';
// import _navmenu.scss
@import 'navmenu';
// import _sitemodules.css
@import 'sitemodules';

// How To Page
.howto-videoframe {
    text-align: center; background-color: $black-colour; width: 100%;
    margin: 0 auto; margin-top: 10px;
    @include media-query-wide() {
      height: 360px; margin-bottom: 50px;
    }
    @include media-query-narrow() {
      height: 100%; margin-bottom: 10px;
    }
    .now-loading-text {
      color: $white-colour;
      @include media-query-wide() {
        height: 360px; line-height: 360px;
      }
      @include media-query-narrow() {
        height: auto; line-height: auto;
      }
    }
}
