// _utils.scss
@import 'utils';

// Common
.centre-container {
    margin: 0 auto; line-height: 140%;
    @include media-query-wide() {
      width: 640px; margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    @include media-query-narrow() {
      width: 90%; margin-top: 50px; margin-bottom: 30px;
    }
}

// _navmenu.scss
@import 'navmenu';

// How To Page
.howto-videoframe {
    text-align: center; background-color: $black-colour; width: 100%;
    margin: 0 auto; margin-top: 10px;
    @include media-query-wide() {
      height: 360px; margin-bottom: 50px;
    }
    @include media-query-narrow() {
      height: 100%; margin-bottom: 10px;

    }
    .now-loading-text {
      color: $white-colour;
      @include media-query-wide() {
        height: 360px; line-height: 360px;
      }
      @include media-query-narrow() {
        height: auto; line-height: auto;
      }
    }
}
