<h2>招福猫児と書いて<br>“まねき猫”と詠む</h2>
<p>
	招き猫の由来に関しては諸説有るようだが、最も一般的なのは豪徳寺説ではないかな。
	井伊家の藩主だった直孝が鷹狩りの途中で通りかかった豪徳寺（当時は貧乏寺だったとのこと）
	の門前の猫に招き入れられて寺に入ったところ、急に雷雨に見舞われたが、猫の招き入れにより無事だったところから、
	この寺にたくさんの寄進をした。という逸話から、運を招き入れる猫として
	「招き猫」が生まれたということだ。武士にとって左手は不浄とされることから、右手を上げているのだと。
	週末は豪徳寺に出かけて、招福猫児を一匹、自宅に呼び寄せてはいかがだろうか。 
</p>
<p class="author">(Text：Y.Nag)</p>
<p>
	豪徳寺
	<br>
	東京都世田谷区豪徳寺2-24-7
</p>
<p>
	Monrõ Helinox Elite Chair SP KOLLSHE
	<br>
	¥3,900 (税抜き)
	<br>
	サイズ：およそ 56cm x 91.5cm
	<br>
	<br>
	IRMA RECORDS MERCH STORE tel: 03-6455-1589
	<br>
	<a href="http://www.irmamerch.com/" title="IRMA RECORDS" target="_blank">
		http://www.irmamerch.com/
	</a>
</p>