@media print, screen and (min-width: 641px) {
  .cms-buttons-container {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .cms-button {
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 25px;
    padding-top: 6px;
    font-size: 16px !important;
    float: left;
    font-weight: bold;
  }
  .cms-button-width150 {
    width: 150px;
  }
  .cms-button-white {
    background-color: #fff;
  }
  .cms-button-red {
    background-color: #f00000;
  }
  .cms-button-grey {
    background-color: #cdcdcd;
  }
  .cms-overlay {
    border: 2px solid #f00000;
  }
  .cms-transparent-overlay {
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .cms-under-construction-txt {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .cms-dialog {
    display: none;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .cms-dialog h1 {
    font-size: 16px;
    font-weight: bold;
  }
  .cms-dialog .cms-submit-btn {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .cms-dialog .upload-text-field {
    width: 220px;
  }
  .cms-dialog .dialog-last-update-label {
    font-size: 9px;
  }
  .cms-dialog #error-list {
    color: #f00000;
    font-size: 12px;
    text-align: left;
    line-height: 140%;
  }
  .ui-dialog-titlebar {
    display: none;
  }
  table.cms-content-frame {
    margin: 0 auto;
  }
  table.cms-content-frame tr {
    height: 30px;
  }
  table.cms-content-frame tr .left-col {
    text-align: right;
    padding: 5px 10px 0 0;
    vertical-align: top;
    width: 40%;
  }
  table.cms-content-frame tr .right-col {
    text-align: left;
  }
  table.cms-content-frame tr .right-col input {
    width: 90%;
  }
  table.cms-content-frame tr .right-col textarea {
    height: 50px;
    width: 90%;
  }
  table.cms-content-frame tr .right-col select.longwidth {
    width: inherit;
  }
  table.cms-content-frame tr:last-child {
    height: 0px;
  }
  table.cms-content-frame tr.height40 {
    height: 40px;
  }
  table.cms-content-frame tr.height50 {
    height: 50px;
  }
}
@media print, screen and (max-width: 640px) {
  .cms-button {
    display: none;
  }
  .cms-transparent-overlay {
    display: none;
  }
  .css-overlay {
    display: none;
  }
  .cms-under-construction-txt {
    display: none;
  }
  .ui-dialog {
    display: none !important;
  }
  .cms-dialog {
    display: none !important;
  }
}
#cms-content-frame-home-headline-panel .home-cms-panel-headline-leftcol {
  width: 160px;
}
#cms-content-frame-home-headline-panel .home-cms-panel-headline-rightcol {
  width: 480px;
}
#home-headline-header-img-dialog table .home-cms-panel-headerimg-leftcol {
  width: 250px;
}
#rensai-create-article-category-dialog .cms-content-frame, #rensai-remove-article-category-dialog .cms-content-frame, #rensai-category-create-post-dialog .cms-content-frame {
  width: 98%;
}
#rensai-create-article-category-dialog .cms-content-frame caption p {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
#rensai-remove-article-category-dialog .cms-content-frame caption p, #rensai-category-create-post-dialog .cms-content-frame caption p {
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 14px;
  color: #f00000;
}
#rensai-create-article-category-dialog .cms-content-frame tr, #rensai-remove-article-category-dialog .cms-content-frame tr, #rensai-category-create-post-dialog .cms-content-frame tr, #rensai-category-delete-post-dialog .cms-content-frame tr {
  height: 40px;
}
#rensai-create-article-category-dialog .cms-content-frame tr .left-col, #rensai-remove-article-category-dialog .cms-content-frame tr .left-col, #rensai-category-create-post-dialog .cms-content-frame tr .left-col, #rensai-category-delete-post-dialog .cms-content-frame tr .left-col {
  width: 40%;
}
#rensai-create-article-category-dialog .cms-content-frame tr .right-col .right-col-input, #rensai-remove-article-category-dialog .cms-content-frame tr .right-col .right-col-input, #rensai-category-create-post-dialog .cms-content-frame tr .right-col .right-col-input, #rensai-category-delete-post-dialog .cms-content-frame tr .right-col .right-col-input {
  width: 90%;
}
#rensai-create-article-category-dialog .cms-content-frame tr .right-col .right-col-area, #rensai-remove-article-category-dialog .cms-content-frame tr .right-col .right-col-area, #rensai-category-create-post-dialog .cms-content-frame tr .right-col .right-col-area, #rensai-category-delete-post-dialog .cms-content-frame tr .right-col .right-col-area {
  resize: none;
  height: 150px;
}
