#features-first-col .features-list {
  overflow: hidden;
  border-left: 1px solid #e3e2e2;
  border-right: 1px solid #e3e2e2;
}
#features-first-col .features-list .features-list-header-img {
  margin: 10px 0;
}
#features-first-col .features-list .features-list-header-img img {
  width: 100%;
}
@media print, screen and (min-width: 641px) {
  #features-first-col .features-list .features-entry {
    width: 46.5%;
    float: left;
    font-size: 12px;
    line-height: 140%;
    margin: 1.61%;
    border-bottom: 1px solid #e3e2e2;
    font-weight: bold;
  }
  #features-first-col .features-list .features-entry dl dt {
    float: right;
  }
  #features-first-col .features-list .features-entry dl dt a img {
    width: 100px;
    height: auto;
  }
  #features-first-col .features-list .features-entry dl dd {
    vertical-align: top;
    margin-right: 110px;
    height: 90px;
  }
  #features-first-col .features-list .features-entry dl dd a {
    display: block;
    width: 100%;
    height: auto;
  }
  #features-first-col .features-list .features-entry .posting-date {
    text-align: left;
    line-height: 100%;
    font-size: 12px;
    font-weight: normal;
  }
  #features-first-col .features-list:nth-child(4) {
    border-top: 1px solid #e3e2e2;
  }
}
@media print, screen and (max-width: 640px) {
  #features-first-col .features-list .features-list-header-img {
    width: 100%;
  }
  #features-first-col .features-list .features-entry {
    margin: 5px 0 0;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 120%;
    font-weight: bold;
    border-bottom: #e3e2e2;
  }
  #features-first-col .features-list .features-entry dl dt {
    float: right;
  }
  #features-first-col .features-list .features-entry dl dt a img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
  }
  #features-first-col .features-list .features-entry dl dd {
    margin-right: 85px;
    height: 65px;
    margin-left: 10px;
    vertical-align: top;
  }
  #features-first-col .features-list .features-entry .posting-date {
    margin-left: 10px;
    line-height: 100%;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
  }
}
