.menu-navi-container {
  padding: 5px 0;
}
@media print, screen and (min-width: 641px) {
  .menu-navi-container {
    margin: 10px auto 0px;
    border-top: 1px solid #e3e2e2;
    border-bottom: 1px solid #e3e2e2;
    background: #000;
  }
  .menu-navi-container #panel {
    display: block !important;
  }
  .menu-navi-container ul.menu {
    overflow: hidden;
    float: left;
    line-height: 185%;
    font-size: 14px;
  }
  .menu-navi-container ul.menu li {
    list-style: none;
    float: left;
    margin-right: 40px;
  }
  .menu-navi-container ul.menu li a {
    text-decoration: none;
    color: #fff;
  }
  .menu-navi-container ul.menu li a:hover {
    text-decoration: underline;
    color: #fff;
  }
}
@media screen and (max-width: 641px) {
  .menu-navi-container {
    width: 100%;
    border: none;
  }
  .menu-navi-container #panel {
    display: none;
    clear: right;
  }
  .menu-navi-container .gnav {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .menu-navi-container #gnav-area {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
  }
  .menu-navi-container a.gmenu {
    border-radius: 4px;
    display: block;
    color: #fff;
    text-decoration: none;
    height: 37px;
    font-size: 12px;
    width: 40px;
    line-height: 35px;
    float: right;
    text-align: center;
    margin: 5px 8px 0;
    background-color: #000;
    cursor: pointer;
    background-image: url("../images/hamburger-icon.jpg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
  .menu-navi-container a.menuOpen {
    background-image: url("../images/hamburger-active-icon.jpg") !important;
  }
  .menu-navi-container ul.menu {
    width: 100%;
  }
  .menu-navi-container ul.menu li {
    border-bottom: 1px solid #fff;
    float: none;
    margin-right: 0;
  }
  .menu-navi-container ul.menu li a {
    display: block;
    text-align: center;
    background: #000;
    opacity: 0.85;
    color: #e3e2e2;
  }
  .menu-navi-container ul#menu-primary li {
    display: block;
  }
  .menu-navi-container ul#menu-primary li a {
    line-height: 200%;
    text-align: left;
    padding: 8px 0 8px 15px;
    font-size: 16px;
  }
  .menu-navi-container ul.sns {
    display: none;
  }
}
.menu-navi-container ul li {
  display: inline;
}
.menu-navi-container ul.sns {
  float: right;
  overflow: hidden;
  zoom: 1;
}
.menu-navi-container ul.sns li#tw {
  margin-right: 15px;
}
.menu-navi-container ul.sns li img {
  width: 25px;
}
.menu-navi-container .gmenu {
  display: none;
}
.menu-navi-container .gnav {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}
