@media print, screen and (min-width: 641px) {
  #rensai-new-articles-list {
    margin-bottom: 20px;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  #rensai-new-articles-list .rensai-article-entry-first-sp {
    border-top: 1px solid #000 !important;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-new-articles-list h2, #rensai-article-cat-list h2 {
    padding: 10px 0;
    font-size: 80%;
    font-weight: normal;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list h2, #rensai-article-cat-list h2 {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-new-articles-list .rensai-article-entry {
    font-size: 15px;
    line-height: 1.5;
    padding: 3px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #rensai-new-articles-list .rensai-article-entry .posting-date {
    font-size: 15px;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list .rensai-article-entry {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    border-top: 1px dashed #000;
    text-overflow: ellipsis;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list .rensai-article-entry:last-child {
    border-bottom: 1px solid #000;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-article-cat-list #rensai-article-cat-list-container {
    overflow: hidden;
    width: 100%;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry {
    width: 49%;
    float: left;
    margin: 10px 0;
    position: relative;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info {
    display: table-cell;
    float: right;
    width: 202px;
    margin: 0 5px 5px 0;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-title {
    font-size: 14px;
    font-weight: bold;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-desc {
    font-size: 11px;
    margin-top: 7px;
    line-height: 1.3;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-more-sp {
    display: none;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img {
    width: 90px;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img img {
    width: 100%;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-more {
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry {
    overflow: hidden;
    margin: 10px 0;
    position: relative;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info {
    width: 100%;
    height: 85px;
    margin-left: 90px;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-desc {
    position: absolute;
    top: 23px;
    font-size: 11px;
    line-height: 1.5;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-more {
    display: none;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-more-sp {
    position: absolute;
    right: 3px;
    bottom: 0px;
    font-size: 14px;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img {
    width: 85px;
    position: absolute;
    top: 0;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img img {
    width: 100%;
  }
}
#rensai-category-first-col {
  overflow: hidden;
  border-left: 1px solid #e3e2e2;
  border-right: 1px solid #e3e2e2;
}
@media print, screen and (min-width: 641px) {
  #rensai-category-first-col {
    border-bottom: 1px solid #e3e2e2;
  }
  #rensai-category-first-col .rensai-entry {
    width: 46.5%;
    float: left;
    font-size: 12px;
    line-height: 140%;
    margin: 1.61%;
    border-bottom: 1px solid #e3e2e2;
    font-weight: bold;
  }
  #rensai-category-first-col .rensai-entry dl dt {
    float: right;
  }
  #rensai-category-first-col .rensai-entry dl dt a img {
    width: 100px;
    height: 100px;
  }
  #rensai-category-first-col .rensai-entry dl dd {
    vertical-align: top;
    margin-right: 110px;
    height: 90px;
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hypens: auto;
    -moz-hypens: auto;
    hyphens: auto;
  }
  #rensai-category-first-col .rensai-entry .posting-date {
    text-align: left;
    line-height: 100%;
    font-size: 12px;
    font-weight: normal;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-category-first-col {
    margin-bottom: 30px;
  }
  #rensai-category-first-col .rensai-entry {
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 120%;
    border-bottom: 1px solid #e3e2e2;
    padding-top: 5px;
    font-weight: bold;
  }
  #rensai-category-first-col .rensai-entry dl dt {
    float: right;
  }
  #rensai-category-first-col .rensai-entry dl dt a img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
  }
  #rensai-category-first-col .rensai-entry dl dd {
    margin-right: 85px;
    height: 65px;
    margin-left: 10px;
    vertical-align: top;
  }
  #rensai-category-first-col .rensai-entry .posting-date {
    margin-right: 80px;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 100%;
  }
}
#rensai-category-first-col #rensai-category-group-img {
  border-top: 1px solid #e3e2e2;
  border-bottom : 1px solid #e3e2e2;
  text-align: center;
  padding: 15px 0;
}
@media print, screen and (min-width: 641px) {
  #rensai-category-first-col #rensai-category-group-img {
    margin-bottom: 20px;
  }
  #rensai-category-first-col #rensai-category-group-img img {
    width: 75%;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-category-first-col #rensai-category-group-img img {
    width: 95%;
  }
}
#rensai-category-first-col #rensai-category-desc {
  font-size: 12px;
  display: block;
  line-height: 1.6;
  margin: 35px auto;
}
@media print, screen and (min-width: 641px) {
  #rensai-category-first-col #rensai-category-desc {
    width: 56%;
    text-align: center;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-category-first-col #rensai-category-desc {
    width: 90%;
    text-align: left;
  }
}
