/* module-rensai-hybrid & module-features-hybrid -> 1st Variant */
@media print, screen and (min-width: 641px) {
	.hybrid-module-section-v1 {
		overflow: hidden;
	}
	.hybrid-module-section-v1 .hybrid-module-header-v1 {
		margin-bottom: 15px;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 {
		padding: 15px 0px 15px 5px; clear: both; display: block;
		border-top: 1px solid #e3e2e2; border-right: 1px solid #e3e2e2;
		border-left: 1px solid #e3e2e2; overflow: hidden;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a p {
		float: left;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a p img {
		width: 80px; height: auto;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a dl {
		margin-left: 90px;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a dl dt {
		font-size: 11px; line-height: 1; font-weight: bold; color: #919191;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a dl dd {
		font-size: 12px; line-height: 140%; font-weight: bold; height: 50px;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 .hybrid-module-date-v1 {
		display: block; text-align: left; margin-left: 90px; margin-top: 12px;
		line-height: 100%;
	}
}
@media print, screen and (max-width: 640px) {
	.hybrid-module-section-v1 {
		width: 100%;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 {
		display: block; border-top: 1px solid #e2e2e2; overflow: hidden;
		position: relative;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1:last-child {
		border-bottom: 1px solid #e2e2e2;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a {
		display: block; width: 100%; height: 100%;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a p {
		width: 85px; float: right; clear: both;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 a p img {
		width: 85px; height: auto; vertical-align: bottom;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 dl {
		margin-right: 90px; margin-left: 10px; height: 85px; color: #919191;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 dl dt {
		font-size: 11px; color: #919191; line-height: 1.3;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 dl dd {
		font-size: 14px; font-weight: bold; line-height: 120%; height: 50px;
		color: #000;
	}
	.hybrid-module-section-v1 .hybrid-module-entry-v1 .hybrid-module-date-v1 {
		display: block; position: absolute; bottom: 2px; left: 10px;
	}
}
.hybrid-module-section-v1 .hybrid-module-header-v1 img {
	width: 100%;
}
.hybrid-module-section-v1 .hybrid-module-entry-v1:last-child {
	border-bottom: 1px solid #e3e2e2;
}
/* module-news */
@media print, screen and (min-width: 641px) {
	#news-list-sp { display: none; }

	#news-list h1 img {
		width: 100%; height: auto;
	}
	#news-list .news-entry {
		padding: 10px 0;
	}
	#news-list .news-entry dl dt a img {
		width: 75px; height: auto;
	}
	#news-list .news-entry dd {
		padding: 0 0 0 9px;
	}
}
@media print, screen and (max-width: 640px) {
	#news-list { display: none; }

	#news-list-sp {
		margin: 0 0 5px;
	}
	#news-list-sp h1 {
		width: 100%; background: #ededed; text-align: center; position: relative;
		text-indent: 0;
	}
	#news-list-sp h1 img {
		width: 100%; height: auto; vertical-align: bottom;
	}
	#news-list-sp .news-entry {
		margin: 0 0 5px; padding: 5px 0;
	}
	#news-list-sp .news-entry dl {
		overflow: hidden;
		background: url(/images/linkbtn.png) 97% 50% no-repeat; background-size: 15px;
	}
	#news-list-sp .news-entry dt {
		margin: 0 10% 0 10px; font-size: 14px; line-height: 120%; height: 45px;
		font-weight: bold;
	}
	#news-list-sp .news-entry dt a {
		display: block; width: 100%; height: 100%;
	}
	#news-list-sp .news-entry dd {
		margin-left: 10px; line-height: 100%;
	}
}
#news-list a {
	color: #666666; line-height: 120%;
}
#news-list .news-entry, #news-list-sp .news-entry {
	border-top: 1px solid #e5e5e5;
}
#news-list div:last-child, #news-list-sp div:last-child {
	border-bottom: 1px solid #e5e5e5;
}
#news-list .news-entry dl {
	overflow: hidden;
}
#news-list .news-entry dl dt {
	width: 75px; float: left; clear: left; margin-right: 10px;
}
#news-list .news-entry dd {
	font-weight: bold; margin-left: 80px; height: 80px;
}
#news-list .news-entry dd a {
	display: block; width: 100%; height: 100%;
}
#news-list .news-entry p .posting-date, #news-list-sp .news-entry p .posting-date {
	display: block; text-align: left; line-height: 100%; margin: -16px 0 0px 90px;
}
/* module-gadgets */
@media print, screen and (min-width: 641px) {
	#gadget-list-sp { display: none; }

	/* 1 col ver. */
	#gadget-list {
		display: table-cell; width: 100%; height: 100%; color: #221714;
		vertical-align: top; padding-left: 14px;
	}
	#gadget-list .gadget-entry {
		margin: 0 0 10px;
	}
	#gadget-list .gadget-entry p {
		min-height: 22px; padding: 0 0 0 28px; font-size: 11px; line-height: 22px;
		background: url(/images/gadgets/general/too_bg_00.png) 0 0 no-repeat; 
	}
	#gadget-list .gadget-entry dl {
		position: relative; width: 168px; height: 206px; text-align: center;
	}
	#gadget-list .gadget-entry dl dt img {
		width: 150px;
	}
	#gadget-list .gadget-entry dl dd {
		position: absolute; bottom: 11px; left: 0; width: 100%; font-size: 10px;
		line-height: 14px; text-align: center;
	}
	#gadget-list .gadget-entry dl dd span {
		font-size: 6px;
	}
	/* 2 cols ver. */
	#gadget-list .gadget-entry-wide {
		width: 150px; float: left;
	}
	#gadget-list .gadget-entry-wide:nth-child(even) {
		margin-right: 1.6%;
	}
	#gadget-list .gadget-entry-wide p {
		padding: 0 0 0 20px;
		background-size: 100% 100%;
	}
	#gadget-list .gadget-entry-wide dl {
		width: 148px;
	}
	#gadget-list .gadget-entry-wide dl dt img {
		width: 95%;
	}
}
@media print, screen and (max-width: 640px) {
	#gadget-list { display: none; }

	#gadget-list-sp h1 {
		margin: 0 0 10px; text-align: center;
	}
	#gadget-list-sp h1 img {
		width: auto; height: 70px;
	}
	#gadget-list-sp #gadget-entries-container {
		display: block; overflow: hidden; zoom: 1; border-bottom: 1px solid #e2e2e2;
	}
	#gadget-list-sp #gadget-entries-container .gadget-entry {
		width: 25%; float: left;
	}
	#gadget-list-sp #gadget-entries-container .gadget-entry a img {
		width: 100%; border: 1px solid #e2e2e2; vertical-align: bottom;
	}
}
#gadget-list h1 {
	margin: 7px 0 21px;
}
#gadget-list h1 img {
	width: 100%;
}
#gadget-list .gadget-entry p, #gadget-list-sp .gadget-entry p {
	font-weight: bold;
}
#gadget-list .gadget-entry dl, #gadget-list-sp .gadget-entry dl {
	border-left: 1px solid #bebebf; border-bottom: 1px solid #bebebf;
	border-right: 1px solid #bebebf;
}
#gadget-list .gadget-entry dl dd {
	font-weight: bold; text-align: center;
}
#gadget-list .gadget-entry dl dd span, #gadget-list .gadget-entry-sp dl dd span {
	color: #717171; font-weight: normal;
}
/* module-social-media-sp */
@media print, screen and (min-width: 641px) {
	#social-media-block { display: none; }
}
@media print, screen and (max-width: 640px) {
	#social-media-block {
		display: block; text-align: center; padding: 10px 0; font-size: 100%;
	}
	#social-media-block a {
		font-weight: bold;
	}
}
