body {
  background: #e3e2e2;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
.centre-container {
  margin: 0 auto;
  line-height: 140%;
}
@media print, screen and (min-width: 641px) {
  .centre-container {
    width: 640px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
@media print, screen and (max-width: 640px) {
  .centre-container {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
#container {
  background-color: #fff;
  text-align: left;
}
@media print, screen and (min-width: 641px) {
  #container {
    min-width: 960px;
  }
}
@media print, screen and (min-width: 641px) {
  #header {
    border-top: 29px solid #e3e2e2;
  }
  #header h1 {
    margin: -16px 0 0;
    text-align: center;
  }
}
@media print, screen and (max-width: 640px) {
  #header {
    position: absolute;
    border-top: 27px solid #e3e2e2;
    width: 85%;
    z-index: 101;
  }
  #header h1 {
    margin: -20px 0 0;
  }
  #header h1 img {
    height: 31px;
  }
}
@media print, screen and (min-width: 641px) {
  #footer {
    font-size: 11px;
    line-height: 11px;
    text-align: left;
    clear: both;
    background: #e2e2e2;
  }
  #footer section {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 18px 0 15px;
  }
  #footer h1, #footer ul, #footer li {
    display: inline-block;
  }
  #footer h1 {
    margin: 0 119px 0 0;
    font-size: inherit !important;
  }
  #footer h1 img {
    width: 169px;
    height: 21px;
  }
  #footer ul {
    position: relative;
    top: -6px;
  }
  #footer li {
    margin: 0 46px 0 0;
  }
  #footer p {
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px 0 0;
  }
  #footer small {
    font-size: 10px;
    line-height: 10px;
  }
  #footer #sns_block {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #footer {
    clear: right;
    background: #e2e2e2;
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
  }
  #footer small {
    font-size: 10px;
    line-height: 10px;
  }
  #footer h1 {
    margin: 0 0 10px;
  }
  #footer h1 img {
    height: 22px;
  }
  #footer #sns_block {
    margin: 15px 0;
  }
  #footer #sns_block a {
    width: 100%;
    height: 100%;
  }
  #footer #sns_block img {
    width: 40px;
  }
  #footer ul {
    margin: 0 0 18px;
  }
  #footer li {
    line-height: 170%;
    text-align: center;
  }
}
#top-page-btn {
  position: fixed;
}
@media print, screen and (min-width: 641px) {
  #top-page-btn {
    z-index: 9999;
    bottom: 54px;
    left: 50%;
    margin: 0 0 0 480px;
  }
  #top-page-btn a img {
    width: 42px;
    height: 42px;
  }
}
@media print, screen and (max-width: 640px) {
  #top-page-btn {
    bottom: 0;
    right: 0;
  }
  #top-page-btn a img {
    width: 50px;
    height: 50px;
  }
}
@media print, screen and (min-width: 641px) {
  #main {
    width: 960px;
    margin: 10px auto 30px;
    background: #fff;
    overflow: hidden;
    zoom: 1;
    display: table;
  }
}
@media print, screen and (max-width: 640px) {
  #main {
    text-align: left;
  }
}
@media print, screen and (min-width: 641px) {
  #contents {
    display: table-cell;
    width: 630px;
    padding: 0 0 0 82px;
    vertical-align: top;
  }
}
@media print, screen and (min-width: 641px) {
  #login-link-box, #logout-link-box {
    position: absolute;
    top: 0px;
    right: 145px;
    background-color: #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    padding: 10px;
    border-bottom: 2px solid #000;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  #login-link-box a, #logout-link-box a, #login-link-box a:hover, #logout-link-box a:hover {
    color: #fff !important;
  }
}
@media print, screen and (max-width: 640px) {
  #login-link-box, #logout-link-box {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #login-container {
    width: 99%;
    min-height: 385px;
    border: 1px solid #000;
  }
  #login-container #login-container-box {
    display: table;
    margin: 0 auto;
    padding-top: 25px;
    width: 50%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 130px;
  }
  #login-container #login-container-box .login-container-column {
    display: table-cell;
    width: 40%;
  }
  #login-container #login-container-box .login-container-column .login-container-column-label {
    text-align: right;
    padding-right: 10px;
  }
  #login-container #login-container-box .login-container-column .login-container-column-input {
    height: 25px;
    font-size: 16px;
  }
  #login-container #login-container-box .login-container-column:first-child {
    width: 30%;
  }
  #login-container #login-container-box .login-container-column:last-child {
    vertical-align: middle;
    line-height: 56px;
    width: 30%;
  }
  #login-container #login-container-box .login-container-column-row {
    height: 50px;
  }
  #login-container #login-container-box #login-btn {
    border: 2px solid #000;
    background-color: #f00000;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin-top: -25px;
  }
  #login-container #login-errors-container {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
    color: #f00000;
    line-height: 120%;
    text-align: center;
  }
}
@media print, screen and (max-width: 640px) {
  #login-container {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #login-container-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #login-container-sp {
    margin-top: 50px;
    width: 100%;
    min-height: 400px;
  }
  #login-container-sp div {
    font-size: 12px;
    margin: 0 auto;
    width: 90%;
    margin-top: 140px;
  }
}
#error-container #error-container-box {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 130px;
  line-height: 140%;
  text-align: center;
}
#error-container #error-container-box .red-text {
  color: #f00000;
}
#error-container #error-container-box div {
  margin: 30px 0 30px 0;
}
@media print, screen and (min-width: 641px) {
  #error-container {
    width: 99%;
    min-height: 385px;
    border: 1px solid #000;
  }
}
@media print, screen and (max-width: 640px) {
  #error-container {
    margin-top: 50px;
    width: 100%;
    min-height: 300px;
  }
  #error-container #error-container-box {
    margin-bottom: 50px;
  }
}
@media print, screen and (min-width: 641px) {
  .view-all-link-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  .view-all-link-sp {
    display: block;
    margin: 15px auto;
    line-height: 50px;
    width: 90%;
    background: #e2e2e2;
    text-align: center;
    border-radius: 10px;
    clear: both;
  }
  .view-all-link-sp a {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    display: block;
  }
}
@media print, screen and (min-width: 641px) {
  .view-all-link {
    display: block;
    background: url(/images/arrow_new.png) no-repeat right 0px;
  }
  .view-all-link a {
    font-weight: bold;
    display: block;
    text-align: right;
    margin: 5px 12px;
    font-size: 12px;
    color: #666;
    line-height: 120%;
  }
}
@media print, screen and (max-width: 640px) {
  .view-all-link {
    display: none;
  }
}
.posting-date {
  text-align: right;
  color: #ee1140;
}
@media print, screen and (min-width: 641px) {
  .posting-date {
    font-size: 9px;
  }
}
@media print, screen and (max-width: 640px) {
  .posting-date {
    font-size: 12px;
  }
}
@media print, screen and (min-width: 641px) {
  #breadcrumb-section {
    width: 100%;
    clear: both;
  }
  #breadcrumb-section nav {
    width: 960px;
    margin: 0px auto 15px;
    padding: 5px 0;
    color: #000;
    font-size: 11px;
    line-height: 18px;
    text-align: left;
  }
  #breadcrumb-section nav a {
    color: #000;
    text-decoration: none;
  }
  #breadcrumb-section nav a:hover {
    color: #000;
    text-decoration: underline;
  }
}
@media print, screen and (max-width: 640px) {
  #breadcrumb-section {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  .post-header-img {
    margin: 0 0 40px;
    text-align: center;
  }
}
@media print, screen and (max-width: 640px) {
  .post-header-img {
    display: none;
  }
}
.post-header-text {
  margin-top: 20px;
}
.post-header-text h1 {
  line-height: 135%;
  font-size: 23px;
  margin: 0 0 25px;
  padding: 0 0 20px;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
}
@media print, screen and (max-width: 640px) {
  .post-header-text h1 {
    font-size: 16px !important;
  }
}
@media print, screen and (min-width: 641px) {
  .page-header-img img {
    width: 100%;
  }
}
@media print, screen and (max-width: 640px) {
  .page-header-img {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  .page-header-img-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  .page-header-img-sp {
    text-align: center;
  }
  .page-header-img-sp img {
    width: 100%;
  }
}
.post-content-body-frame {
  border-right: 1px solid #bebebf;
  border-left: 1px solid #bebebf;
  border-bottom: 1px solid #bebebf;
  font-size: 16px;
  line-height: 35px;
  text-align: left;
}
.post-content-body-frame h2 {
  font-weight: bold;
  padding: 15px 0;
}
.post-content-body-frame p {
  width: 90%;
  margin: 10px auto 30px;
}
.post-content-body-frame p a {
  color: #00479d;
}
.post-content-body-frame .author {
  text-align: right;
}
@media print, screen and (max-width: 640px) {
  .post-content-body-frame {
    margin-top: -1px;
  }
}
@media print, screen and (min-width: 641px) {
  .first-col-wide {
    width: 64.58%;
    float: left;
    overflow: hidden;
  }
}
@media print, screen and (min-width: 641px) {
  .first-col-wide-border {
    border-left: 1px solid #e3e2e2;
    border-right: 1px solid #e3e2e2;
    border-bottom: 1px solid #e3e2e2;
  }
}
@media print, screen and (min-width: 641px) {
  .second-col-wide {
    width: 33.3%;
    float: right;
    font-size: 14px;
    line-height: 140%;
  }
  .second-col-wide .side-contents-wide {
    margin-bottom: 50px;
  }
}
.post-first-col-wide div .post-social-media-share-block ul li {
  display: table-cell;
  padding: 0 0 0 7px;
}
@media print, screen and (min-width: 641px) {
  .post-first-col-wide {
    width: 58%;
    padding: 0 0 0 82px;
  }
  .post-first-col-wide .post-first-col-wide-width-limiter {
    width: 530px;
  }
  .post-first-col-wide div .posting-date {
    text-align: left;
    margin: 0 0 10px;
    padding: 0 0 0 10px;
  }
  .post-first-col-wide div .post-social-media-share-block {
    height: 27px;
    margin: 0 0 10px;
    display: table;
    left: 396px;
    top: -27px;
    position: absolute;
  }
  .post-first-col-wide div .post-social-media-share-block ul li a img {
    width: 17px;
  }
}
@media print, screen and (max-width: 640px) {
  .post-first-col-wide {
    padding: 0 15px;
  }
  .post-first-col-wide div .posting-date {
    margin: 25px 0 18px;
    padding: 0 0 0 10px;
    text-align: center;
  }
  .post-first-col-wide div .post-social-media-share-block {
    height: 27px;
    width: 206px;
    margin: 0 auto !important;
    display: table;
  }
  .post-first-col-wide div .post-social-media-share-block ul {
    margin-top: 25px;
  }
  .post-first-col-wide div .post-social-media-share-block ul li {
    padding: 0 0 0 14px !important;
  }
  .post-first-col-wide div .post-social-media-share-block ul li a img {
    width: 30px;
  }
  .post-first-col-wide div .post-social-media-share-block ul li:first-child {
    padding: 0px !important;
  }
}
.post-header-img-style2 {
  margin: 10px 0 20px;
  padding: 0 0 30px;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
}
.post-header-img-style2 img {
  width: 70%;
}
.post-content-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 20px;
}
.post-content-title small {
  font-size: 12px;
}
.post-content-primary-img-desc {
  font-size: 12px !important;
  line-height: 140% !important;
  text-align: center;
  margin-top: 10px;
}
.post-content-top-frame {
  height: 22px;
  margin-top: 50px;
}
.post-content-top-frame img {
  width: 100%;
}
.first-col-wide .first-col-article-entry {
  border-bottom: 1px solid #e3e2e2;
}
@media print, screen and (min-width: 641px) {
  .first-col-wide .first-col-article-entry {
    width: 46.5%;
    float: left;
    font-size: 12px;
    line-height: 140%;
    margin: 1.61%;
    font-weight: bold;
  }
  .first-col-wide .first-col-article-entry dl dt {
    float: right;
  }
  .first-col-wide .first-col-article-entry dl dt a img {
    width: 100px;
    height: 100px;
  }
  .first-col-wide .first-col-article-entry dl dd {
    vertical-align: top;
    margin-right: 110px;
    height: 90px;
  }
  .first-col-wide .first-col-article-entry .posting-date {
    text-align: left;
    line-height: 100%;
    font-size: 12px;
    font-weight: normal;
  }
}
@media print, screen and (max-width: 640px) {
  .first-col-wide .first-col-article-entry {
    margin: 5px 0 0;
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
  }
  .first-col-wide .first-col-article-entry dl dt {
    float: right;
    margin-bottom: -3px;
  }
  .first-col-wide .first-col-article-entry dl dt a img {
    width: 80px;
    height: 80px;
  }
  .first-col-wide .first-col-article-entry dl dd {
    margin: 0 85px 0 10px;
    height: 65px;
  }
  .first-col-wide .first-col-article-entry .posting-date {
    margin: 0 80px 0 10px;
    line-height: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
  }
}
@media print, screen and (min-width: 641px) {
  .first-col-wide .first-col-article-entry:last-child {
    margin-bottom: 20px;
  }
}
.post-content {
  font-size: 16px;
  line-height: 1.95;
  margin: 0 0 15px;
}
.post-content h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.post-content img {
  width: 100%;
}
@media print, screen and (min-width: 641px) {
  .post-content {
    position: relative;
    padding: 0 10px 0;
  }
  .post-content dl.post-primary-img {
    position: relative;
    margin: 0 0 20px;
  }
  .post-content dl.post-primary-img dt, .post-content dl.post-primary-img dd {
    font-size: 16px;
    line-height: 1.95;
  }
  .post-content dl.post-primary-img dt {
    position: absolute;
    top: 20px;
    left: -92px;
  }
  .post-content dl.post-primary-img dt img {
    width: 8px;
  }
  .post-content dl.post-primary-img dd img {
    width: 100%;
  }
  .post-content img {
    width: 100%;
  }
  .post-content p .post-author {
    margin: 24px 0 0;
    display: block;
    text-align: right;
    font-size: 14px;
  }
}
@media print, screen and (max-width: 640px) {
  .post-content dl.post-primary-img {
    position: relative;
    margin: 0 0 30px;
    width: 100%;
  }
  .post-content dl.post-primary-img dt {
    position: absolute;
    top: 20px;
    left: 0;
    width: 7%;
    font-size: 16px;
    line-height: 1.95;
  }
  .post-content dl.post-primary-img dt img {
    width: 6px;
  }
  .post-content dl.post-primary-img dd {
    position: relative;
    width: 88%;
    left: 7%;
  }
  .post-content dl.post-primary-img dd img {
    width: 100%;
  }
  .post-content p .post-author {
    display: block;
    text-align: right;
    font-size: 14px;
    margin-top: 24px;
  }
}
.post-prev-next-link {
  padding: 20px 0;
  font-weight: normal;
  clear: both;
  overflow: hidden;
  zoom: 1;
}
.post-prev-next-link div a .post-link-thumbnail-img {
  width: 65px;
  float: left;
  display: block;
}
.post-prev-next-link div a .post-link-thumbnail-img img {
  width: 100%;
}
.post-prev-next-link div a .post-link-label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 12px;
}
.post-prev-next-link div a .post-link-thumbnail-title {
  font-size: 14px;
  line-height: 140%;
  margin-left: 70px;
  height: 70px;
  font-weight: bold;
  display: block;
}
.post-prev-next-link div a:hover {
  text-decoration: none;
}
.post-prev-next-link div.post-prev-next-link-left-col a .post-link-label {
  text-align: left;
}
.post-prev-next-link div.post-prev-next-link-right-col a .post-link-label {
  text-align: right;
}
@media print, screen and (min-width: 641px) {
  .post-prev-next-link .post-prev-next-link-left-col, .post-prev-next-link .post-prev-next-link-right-col {
    width: 245px;
    padding: 5px;
    float: left;
    border: 1px solid #949090;
  }
  .post-prev-next-link .post-prev-next-link-left-col {
    margin-right: 15px;
  }
  .post-prev-next-link div a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}
@media print, screen and (max-width: 640px) {
  .post-prev-next-link .post-prev-next-link-left-col, .post-prev-next-link .post-prev-next-link-right-col {
    width: 95%;
    padding: 5px;
    border: 1px solid #949090;
  }
  .post-prev-next-link .post-prev-next-link-left-col {
    margin-bottom: 15px;
  }
}
.post-archives {
  margin: 10px 0px 0;
  border-bottom: 1px solid #000;
}
.post-archives .archive-entry dl {
  font-size: 12px;
}
.post-archives .archive-entry-selected {
  background: #eee;
}
.post-archives h2 {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
.post-archives .archive-entry {
  display: block;
  overflow: hidden;
  border-bottom: 1px dashed #000;
}
.post-archives .archive-entry:last-child {
  display: block;
  overflow: hidden;
  border-bottom: none;
}
@media print, screen and (min-width: 641px) {
  .post-archives .archive-entry dl dt {
    font-size: 11px;
    line-height: 24px;
    float: left;
    clear: both;
    margin: 0 6px 0 0;
  }
  .post-archives .archive-entry dl dd {
    line-height: 24px;
    display: table-cell;
  }
}
@media print, screen and (max-width: 640px) {
  .post-archives {
    margin-bottom: 30px !important;
  }
  .post-archives .archive-entry dl dd {
    line-height: 30px;
    white-space: nowrap;
    margin-left: 75px;
  }
  .post-archives .archive-entry dl dd a {
    display: block;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
  }
  .post-archives .archive-entry dl .posting-date {
    font-size: 12px;
    line-height: 30px;
    float: left;
    margin: 0 8px;
    padding: 0;
    width: 75px;
    clear: left;
  }
}
@media print, screen and (min-width: 641px) {
  .post-archives-v2 {
    margin: 20px 0 0;
    border-bottom: 1px solid #c1c1c1;
    font-size: 12px;
    line-height: 18px;
  }
  .post-archives-v2 h2 {
    margin: 0 0 20px;
    padding: 8px 0 8px 5px;
    border-bottom: 1px solid #c1c1c1;
    line-height: 12px;
    border-top: 1px solid #c1c1c1;
  }
  .post-archives-v2 h2 img {
    width: 212px;
    height: 15px;
  }
  .post-archives-v2 .post-archives-v2-entries {
    width: 100%;
    overflow: hidden;
    zoom: 1;
    padding: 0 10px 14px;
  }
  .post-archives-v2 .archive-v2-entry {
    width: 48%;
    float: left;
    padding: 0 0.7% 0.2%;
  }
  .post-archives-v2 .archive-v2-entry dl dt {
    float: left;
  }
  .post-archives-v2 .archive-v2-entry dl dt a img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
  }
  .post-archives-v2 .archive-v2-entry dl dd {
    font-weight: bold;
    margin-left: 90px;
    height: 75px;
  }
  .post-archives-v2 .archive-v2-entry dl dd a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .post-archives-v2 .archive-v2-entry p .posting-date {
    display: block;
    text-align: right;
    font-size: 9px;
  }
  .post-archives-v2 .archive-v2-entry-clear {
    clear: both;
  }
}
@media print, screen and (max-width: 640px) {
  .post-archives-v2 {
    display: none;
  }
}
.menu-navi-container {
  padding: 5px 0;
}
@media print, screen and (min-width: 641px) {
  .menu-navi-container {
    margin: 10px auto 0px;
    border-top: 1px solid #e3e2e2;
    border-bottom: 1px solid #e3e2e2;
    background: #000;
  }
  .menu-navi-container #panel {
    display: block !important;
  }
  .menu-navi-container ul.menu {
    overflow: hidden;
    float: left;
    line-height: 185%;
    font-size: 14px;
  }
  .menu-navi-container ul.menu li {
    list-style: none;
    float: left;
    margin-right: 40px;
  }
  .menu-navi-container ul.menu li a {
    text-decoration: none;
    color: #fff;
  }
  .menu-navi-container ul.menu li a:hover {
    text-decoration: underline;
    color: #fff;
  }
}
@media screen and (max-width: 640px) {
  .menu-navi-container {
    width: 100%;
    border: none;
  }
  .menu-navi-container #panel {
    display: none;
    clear: right;
  }
  .menu-navi-container .gnav {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .menu-navi-container #gnav-area {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
  }
  .menu-navi-container a.gmenu {
    border-radius: 4px;
    display: block;
    color: #fff;
    text-decoration: none;
    height: 37px;
    font-size: 12px;
    width: 40px;
    line-height: 35px;
    float: right;
    text-align: center;
    margin: 5px 8px 0;
    background-color: #000;
    cursor: pointer;
    background-image: url("../images/hamburger-icon.jpg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
  .menu-navi-container a.menuOpen {
    background-image: url("../images/hamburger-active-icon.jpg") !important;
  }
  .menu-navi-container ul.menu {
    width: 100%;
  }
  .menu-navi-container ul.menu li {
    border-bottom: 1px solid #fff;
    float: none;
    margin-right: 0;
  }
  .menu-navi-container ul.menu li a {
    display: block;
    text-align: center;
    background: #000;
    opacity: 0.85;
    color: #e3e2e2;
  }
  .menu-navi-container ul#menu-primary li {
    display: block;
  }
  .menu-navi-container ul#menu-primary li a {
    line-height: 200%;
    text-align: left;
    padding: 8px 0 8px 15px;
    font-size: 16px;
  }
  .menu-navi-container ul.sns {
    display: none;
  }
}
.menu-navi-container ul li {
  display: inline;
}
.menu-navi-container ul.sns {
  float: right;
  overflow: hidden;
  zoom: 1;
}
.menu-navi-container ul.sns li#tw {
  margin-right: 15px;
}
.menu-navi-container ul.sns li img {
  width: 25px;
}
.menu-navi-container .gmenu {
  display: none;
}
.menu-navi-container .gnav {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}
.hybrid-module-section-v1 .hybrid-module-header-v1 img {
  width: 100%;
}
.hybrid-module-section-v1 .hybrid-module-entry-v1:last-child {
  border-bottom: 1px solid #e3e2e2;
}
@media print, screen and (min-width: 641px) {
  .hybrid-module-section-v1 {
    overflow: hidden;
  }
  .hybrid-module-section-v1 .hybrid-module-header-v1 {
    margin-bottom: 15px;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 {
    padding: 15px 0px 15px 5px;
    clear: both;
    display: block;
    border-top: 1px solid #e3e2e2;
    border-right: 1px solid #e3e2e2;
    border-left: 1px solid #e3e2e2;
    overflow: hidden;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a p {
    float: left;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a p img {
    width: 80px;
    height: auto;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a dl {
    margin-left: 90px;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a dl dt {
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    color: #919191;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a dl dd {
    font-size: 12px;
    line-height: 140%;
    font-weight: bold;
    height: 50px;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 .hybrid-module-date-v1 {
    display: block;
    text-align: left;
    margin-left: 90px;
    margin-top: 12px;
    line-height: 100%;
  }
}
@media print, screen and (max-width: 640px) {
  .hybrid-module-section-v1 {
    width: 100%;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 {
    display: block;
    border-top: 1px solid #e2e2e2;
    overflow: hidden;
    position: relative;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a p {
    width: 85px;
    float: right;
    clear: both;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 a p img {
    width: 85px;
    height: auto;
    vertical-align: bottom;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 dl {
    margin-right: 90px;
    margin-left: 10px;
    height: 85px;
    color: #919191;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 dl dt {
    font-size: 11px;
    color: #919191;
    line-height: 1.3;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 dl dd {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    height: 50px;
    color: #000;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1 .hybrid-module-date-v1 {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 10px;
  }
  .hybrid-module-section-v1 .hybrid-module-entry-v1:last-child {
    border-bottom: 1px solid #e2e2e2;
  }
}
#news-list a {
  color: #666;
  line-height: 120%;
}
#news-list .news-entry dl {
  overflow: hidden;
}
#news-list .news-entry dl dt {
  width: 75px;
  float: left;
  clear: left;
  margin-right: 10px;
}
#news-list .news-entry dl dd {
  font-weight: bold;
  margin-left: 80px;
  height: 80px;
}
#news-list .news-entry dl dd a {
  display: block;
  width: 100%;
  height: 100%;
}
@media print, screen and (min-width: 641px) {
  #news-list h1 img {
    width: 100%;
    height: auto;
  }
  #news-list .news-entry {
    padding: 10px 0;
  }
  #news-list .news-entry dl dt a img {
    width: 75px;
    height: auto;
  }
  #news-list .news-entry dl dd {
    padding: 0 0 0 9px;
  }
}
@media print, screen and (max-width: 640px) {
  #news-list {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #news-list-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #news-list-sp {
    margin: 0 0 5px;
  }
  #news-list-sp h1 {
    width: 100%;
    background: #ededed;
    text-align: center;
    position: relative;
    text-indent: 0;
  }
  #news-list-sp h1 img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  #news-list-sp .news-entry {
    margin: 0 0 5px;
    padding: 5px 0;
  }
  #news-list-sp .news-entry dl {
    overflow: hidden;
    background: url(/images/linkbtn.png) 97% 50% no-repeat;
    background-size: 15px;
  }
  #news-list-sp .news-entry dl dt {
    margin: 0 10% 0 10px;
    font-size: 14px;
    line-height: 120%;
    font-weight: bold;
    height: 45px;
  }
  #news-list-sp .news-entry dl dt a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #news-list-sp .news-entry dl dd {
    margin-left: 10px;
    line-height: 100%;
  }
}
#news-list .news-entry, #news-list-sp .news-entry {
  border-top: 1px solid #e5e5e5;
}
#news-list div:last-child, #news-list-sp div:last-child {
  border-bottom: 1px solid #e5e5e5;
}
#news-list p .posting-date, #news-list-sp p .posting-date {
  display: block;
  text-align: left;
  line-height: 100%;
  margin: -16px 0 0px 90px;
}
@media print, screen and (min-width: 641px) {
  #gadget-list {
    display: table-cell;
    width: 100%;
    height: 100%;
    color: #221714;
    vertical-align: top;
    padding-left: 14px;
  }
  #gadget-list h1 {
    margin: 7px 0 21px;
  }
  #gadget-list h1 img {
    width: 100%;
  }
  #gadget-list .gadget-entry {
    margin: 0 0 10px;
  }
  #gadget-list .gadget-entry p {
    min-height: 22px;
    padding: 0 0 0 28px;
    font-size: 11px;
    line-height: 22px;
    background: url(/images/gadgets/general/too_bg_00.png) 0 0 no-repeat;
  }
  #gadget-list .gadget-entry dl {
    position: relative;
    width: 168px;
    height: 206px;
    text-align: center;
  }
  #gadget-list .gadget-entry dl dt img {
    width: 150px;
  }
  #gadget-list .gadget-entry dl dd {
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }
  #gadget-list .gadget-entry dl dd span {
    font-size: 6px;
  }
  #gadget-list .gadget-entry-wide {
    width: 150px !important;
    float: left;
  }
  #gadget-list .gadget-entry-wide p {
    padding: 0 0 0 20px;
    background-size: 100% 100%;
  }
  #gadget-list .gadget-entry-wide dl {
    width: 148px !important;
  }
  #gadget-list .gadget-entry-wide dl dt img {
    width: 95%;
  }
  #gadget-list .gadget-entry-wide:nth-child(even) {
    margin-right: 1.6%;
  }
}
@media print, screen and (max-width: 640px) {
  #gadget-list {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #gadget-list-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #gadget-list-sp h1 {
    margin: 0 0 10px;
    text-align: center;
  }
  #gadget-list-sp h1 img {
    width: auto;
    height: 70px;
  }
  #gadget-list-sp #gadget-entries-container {
    display: block;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #e2e2e2;
  }
  #gadget-list-sp #gadget-entries-container .gadget-entry {
    width: 25%;
    float: left;
  }
  #gadget-list-sp #gadget-entries-container a img {
    width: 100%;
    border: 1px solid #e2e2e2;
    vertical-align: bottom;
  }
}
#gadget-list .gadget-entry p, #gadget-list-sp .gadget-entry p {
  font-weight: bold;
}
#gadget-list .gadget-entry dl, #gadget-list-sp .gadget-entry dl {
  border-left: 1px solid #bebebf;
  border-bottom: 1px solid #bebebf;
  border-right: 1px solid #bebebf;
}
#gadget-list .gadget-entry dl dd, #gadget-list-sp .gadget-entry dl dd {
  font-weight: bold;
  text-align: center;
}
#gadget-list .gadget-entry dl dd span, #gadget-list-sp .gadget-entry dl dd span {
  color: #717171;
  font-weight: normal;
}
@media print, screen and (min-width: 641px) {
  #social-media-block {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #social-media-block {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 100%;
  }
  #social-media-block a {
    font-weight: bold;
  }
}
@media print, screen and (min-width: 641px) {
  #headline-header-image {
    width: 776px;
    display: block;
    margin-bottom: 10px;
  }
}
@media print, screen and (max-width: 640px) {
  #headline-header-image {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  .bx-wrapper .bx-viewport {
    border: none !important;
    left: 0px !important;
  }
  #social-media-block {
    margin-top: 30px;
    font-size: 88%;
  }
}
@media print, screen and (min-width: 641px) {
  #home-contents {
    display: table-cell;
    width: 510px;
    padding: 0;
    vertical-align: top;
  }
}
@media print, screen and (max-width: 640px) {
}
@media print, screen and (min-width: 641px) {
  #home-contents #headlines-section .headline-entry-top {
    width: inherit;
    margin-bottom: 16px;
  }
  #home-contents #headlines-section .headline-entry-top dl dt a img {
    width: 100%;
    height: auto;
  }
  #home-contents #headlines-section .headline-entry {
    width: 247px;
    float: left;
    margin-bottom: 10px;
    height: 325px;
    margin-right: 0px;
  }
  #home-contents #headlines-section .headline-entry dl dt a img {
    width: 247px;
    height: 247px;
  }
  #home-contents #headlines-section .headline-entry:nth-child(even) {
    margin-right: 12px;
  }
  #home-contents #headlines-section .headline-entry-top .headline-entry-info, #home-contents #headlines-section .headline-entry .headline-entry-info {
    font-size: 10px;
    line-height: 150%;
    font-weight: bold;
    color: #919191;
  }
  #home-contents #headlines-section .headline-entry-top dl dt .new-sticker, #home-contents #headlines-section .headline-entry dl dt .new-sticker {
    position: absolute;
    width: 50px;
  }
  #home-contents #headlines-section .headline-entry-top dl dt .new-sticker img, #home-contents #headlines-section .headline-entry dl dt .new-sticker img {
    width: 100%;
    height: auto;
  }
  #home-contents #headlines-section .headline-entry-top dl dt a img, #home-contents #headlines-section .headline-entry dl dt a img {
    width: 100%;
    height: auto;
  }
  #home-contents #headlines-section .headline-entry-top dl dd a, #home-contents #headlines-section .headline-entry dl dd a {
    font-size: 12px;
    font-weight: bold;
  }
}
@media print, screen and (max-width: 640px) {
  #home-contents #headlines-section {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #home-contents #headlines-section-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #home-contents #headlines-section-sp {
    padding-top: 29px;
  }
  #home-contents #headlines-section-sp a #headline-header-img-sp {
    width: 100%;
    margin-bottom: 0px;
  }
  #home-contents #headlines-section-sp a #headline-header-img-sp img {
    width: 100%;
    vertical-align: bottom;
  }
  #home-contents #headlines-section-sp .headline-entry-top {
    border-top: 1px solid #e3e2e2;
    margin-top: 6px;
  }
  #home-contents #headlines-section-sp .headline-entry {
    display: block;
    border-bottom: 1px solid #e3e2e2;
    height: 75px;
    background: url(/images/linkbtn.png) 97% 50% no-repeat;
    background-size: 15px;
  }
  #home-contents #headlines-section-sp .headline-entry dl .headline-entry-info .headline-entry-title {
    padding-left: 0px;
    font-size: 10px;
    color: #919191;
  }
  #home-contents #headlines-section-sp .headline-entry dl .headline-entry-info .new-sticker {
    float: left;
    line-height: 100%;
  }
  #home-contents #headlines-section-sp .headline-entry dl .headline-entry-info .new-sticker img {
    width: 32px;
    line-height: 100%;
    margin-right: 5px;
  }
  #home-contents #headlines-section-sp .headline-entry dl dd {
    padding-left: 10px;
    clear: both;
    padding-right: 20px;
  }
  #home-contents #headlines-section-sp .headline-entry dl dd a {
    font-size: 14px;
    line-height: 130%;
    font-weight: bold;
  }
}
@media print, screen and (min-width: 641px) {
  #home-contents #features-header-img img {
    width: 100%;
  }
}
@media print, screen and (max-width: 640px) {
  #home-contents #features-header-img {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #home-contents #features-header-img-sp {
    display: none;
  }
}
@media print, screen and (max-width: 640px) {
  #home-contents #features-header-img-sp {
    width: 100%;
  }
}
#home-contents #features-section h1 img {
  width: 100%;
}
@media print, screen and (min-width: 641px) {
  #home-contents #features-section {
    display: block;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #000;
  }
  #home-contents #features-section h1 {
    width: 510px;
    height: 68px;
    clear: both;
  }
  #home-contents #features-section .features-highlight-desc {
    display: block;
    font-size: 13px;
    line-height: 140%;
    margin: 0 0 20px;
  }
  #home-contents #features-section .features-entry {
    width: 247px;
    float: left;
    display: block;
    margin-bottom: 30px;
  }
  #home-contents #features-section .features-entry dl dt a img {
    width: 100%;
    height: auto;
  }
  #home-contents #features-section .features-entry dl dd {
    font-size: 12px;
    line-height: 130%;
    font-weight: bold;
  }
  #home-contents #features-section .features-entry .posting-date {
    text-align: left;
    line-height: 130%;
    margin-top: 5px;
  }
  #home-contents #features-section .features-entry:nth-child(odd) {
    margin-right: 12px;
  }
}
@media print, screen and (max-width: 640px) {
  #home-contents #features-section h1 img {
    width: 100%;
  }
  #home-contents #features-section .features-highlight-desc {
    display: block;
    font-size: 13px;
    line-height: 135%;
    padding: 0 5px;
    width: 87%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #home-contents #features-section .features-entry {
    overflow: hidden;
    display: block;
    border-top: 1px solid #e3e2e2;
    padding: 5px 0;
  }
  #home-contents #features-section .features-entry dl dt {
    width: 85px;
    float: right;
  }
  #home-contents #features-section .features-entry dl dt a img {
    width: 85px;
    vertical-align: text-bottom;
  }
  #home-contents #features-section .features-entry dl dd {
    margin: 0 85px 0 10px;
    height: 63px;
    padding-top: 5px;
  }
  #home-contents #features-section .features-entry dl dd a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 130%;
    font-weight: bold;
  }
  #home-contents #features-section .features-entry .posting-date {
    margin: 0 85px 0 10px;
    display: block;
    text-align: left;
  }
}
@media print, screen and (min-width: 641px) {
  #home-second-col {
    padding: 0 0 0 16px;
    display: table-cell;
    width: 248px;
  }
}
@media print, screen and (max-width: 640px) {
}
@media print, screen and (min-width: 641px) {
  #home-second-col #home-side-contents {
    display: table-cell;
    width: 248px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
  }
  #home-second-col #home-side-contents #rensai-list-hybrid {
    margin: 20px 0 5px;
  }
}
@media print, screen and (max-width: 640px) {
  #home-second-col #home-side-contents {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}
#poem-section {
  width: 100%;
}
@media print, screen and (min-width: 641px) {
  #poem-section img {
    width: 100%;
    height: auto;
  }
}
@media print, screen and (max-width: 640px) {
  #poem-section img {
    width: 90%;
    display: block;
    margin: 20px auto;
  }
}
#contributors-section {
  width: 100%;
}
#contributors-section img {
  width: 100%;
  height: auto;
}
@media print, screen and (min-width: 641px) {
  #editors-eye {
    width: 248px;
    display: block;
    margin: 20px 0;
  }
  #editors-eye img {
    width: 100%;
    height: auto;
  }
}
@media print, screen and (max-width: 640px) {
  #editors-eye img {
    width: 90%;
    display: block;
    margin: 20px auto;
  }
}
#features-first-col .features-list {
  overflow: hidden;
  border-left: 1px solid #e3e2e2;
  border-right: 1px solid #e3e2e2;
}
#features-first-col .features-list .features-list-header-img {
  margin: 10px 0;
}
#features-first-col .features-list .features-list-header-img img {
  width: 100%;
}
@media print, screen and (min-width: 641px) {
  #features-first-col .features-list .features-entry {
    width: 46.5%;
    float: left;
    font-size: 12px;
    line-height: 140%;
    margin: 1.61%;
    border-bottom: 1px solid #e3e2e2;
    font-weight: bold;
  }
  #features-first-col .features-list .features-entry dl dt {
    float: right;
  }
  #features-first-col .features-list .features-entry dl dt a img {
    width: 100px;
    height: auto;
  }
  #features-first-col .features-list .features-entry dl dd {
    vertical-align: top;
    margin-right: 110px;
    height: 90px;
  }
  #features-first-col .features-list .features-entry dl dd a {
    display: block;
    width: 100%;
    height: auto;
  }
  #features-first-col .features-list .features-entry .posting-date {
    text-align: left;
    line-height: 100%;
    font-size: 12px;
    font-weight: normal;
  }
  #features-first-col .features-list:nth-child(4) {
    border-top: 1px solid #e3e2e2;
  }
}
@media print, screen and (max-width: 640px) {
  #features-first-col .features-list .features-list-header-img {
    width: 100%;
  }
  #features-first-col .features-list .features-entry {
    margin: 5px 0 0;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 120%;
    font-weight: bold;
    border-bottom: #e3e2e2;
  }
  #features-first-col .features-list .features-entry dl dt {
    float: right;
  }
  #features-first-col .features-list .features-entry dl dt a img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
  }
  #features-first-col .features-list .features-entry dl dd {
    margin-right: 85px;
    height: 65px;
    margin-left: 10px;
    vertical-align: top;
  }
  #features-first-col .features-list .features-entry .posting-date {
    margin-left: 10px;
    line-height: 100%;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-new-articles-list {
    margin-bottom: 20px;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  #rensai-new-articles-list .rensai-article-entry-first-sp {
    border-top: 1px solid #000 !important;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-new-articles-list h2, #rensai-article-cat-list h2 {
    padding: 10px 0;
    font-size: 80%;
    font-weight: normal;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list h2, #rensai-article-cat-list h2 {
    display: none;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-new-articles-list .rensai-article-entry {
    font-size: 15px;
    line-height: 1.5;
    padding: 3px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #rensai-new-articles-list .rensai-article-entry .posting-date {
    font-size: 15px;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list .rensai-article-entry {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    border-top: 1px dashed #000;
    text-overflow: ellipsis;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-new-articles-list .rensai-article-entry:last-child {
    border-bottom: 1px solid #000;
  }
}
@media print, screen and (min-width: 641px) {
  #rensai-article-cat-list #rensai-article-cat-list-container {
    overflow: hidden;
    width: 100%;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry {
    width: 49%;
    float: left;
    margin: 10px 0;
    position: relative;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info {
    display: table-cell;
    float: right;
    width: 202px;
    margin: 0 5px 5px 0;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-title {
    font-size: 14px;
    font-weight: bold;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-desc {
    font-size: 11px;
    margin-top: 7px;
    line-height: 1.3;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-more-sp {
    display: none;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img {
    width: 90px;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img img {
    width: 100%;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-more {
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry {
    overflow: hidden;
    margin: 10px 0;
    position: relative;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info {
    width: 100%;
    height: 85px;
    margin-left: 90px;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-info .rensai-article-cat-entry-desc {
    position: absolute;
    top: 23px;
    font-size: 11px;
    line-height: 1.5;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-more {
    display: none;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-more-sp {
    position: absolute;
    right: 3px;
    bottom: 0px;
    font-size: 14px;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img {
    width: 85px;
    position: absolute;
    top: 0;
  }
  #rensai-article-cat-list #rensai-article-cat-list-container .rensai-article-cat-entry a .rensai-article-cat-entry-img img {
    width: 100%;
  }
}
#rensai-category-first-col {
  overflow: hidden;
  border-left: 1px solid #e3e2e2;
  border-right: 1px solid #e3e2e2;
}
@media print, screen and (min-width: 641px) {
  #rensai-category-first-col {
    border-bottom: 1px solid #e3e2e2;
  }
  #rensai-category-first-col .rensai-entry {
    width: 46.5%;
    float: left;
    font-size: 12px;
    line-height: 140%;
    margin: 1.61%;
    border-bottom: 1px solid #e3e2e2;
    font-weight: bold;
  }
  #rensai-category-first-col .rensai-entry dl dt {
    float: right;
  }
  #rensai-category-first-col .rensai-entry dl dt a img {
    width: 100px;
    height: 100px;
  }
  #rensai-category-first-col .rensai-entry dl dd {
    vertical-align: top;
    margin-right: 110px;
    height: 90px;
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hypens: auto;
    -moz-hypens: auto;
    hyphens: auto;
  }
  #rensai-category-first-col .rensai-entry .posting-date {
    text-align: left;
    line-height: 100%;
    font-size: 12px;
    font-weight: normal;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-category-first-col {
    margin-bottom: 30px;
  }
  #rensai-category-first-col .rensai-entry {
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 120%;
    border-bottom: 1px solid #e3e2e2;
    padding-top: 5px;
    font-weight: bold;
  }
  #rensai-category-first-col .rensai-entry dl dt {
    float: right;
  }
  #rensai-category-first-col .rensai-entry dl dt a img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
  }
  #rensai-category-first-col .rensai-entry dl dd {
    margin-right: 85px;
    height: 65px;
    margin-left: 10px;
    vertical-align: top;
  }
  #rensai-category-first-col .rensai-entry .posting-date {
    margin-right: 80px;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 100%;
  }
}
#rensai-category-first-col #rensai-category-group-img {
  border-top: 1px solid #e3e2e2;
  border-bottom : 1px solid #e3e2e2;
  text-align: center;
  padding: 15px 0;
}
@media print, screen and (min-width: 641px) {
  #rensai-category-first-col #rensai-category-group-img {
    margin-bottom: 20px;
  }
  #rensai-category-first-col #rensai-category-group-img img {
    width: 75%;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-category-first-col #rensai-category-group-img img {
    width: 95%;
  }
}
#rensai-category-first-col #rensai-category-desc {
  font-size: 12px;
  display: block;
  line-height: 1.6;
  margin: 35px auto;
}
@media print, screen and (min-width: 641px) {
  #rensai-category-first-col #rensai-category-desc {
    width: 56%;
    text-align: center;
  }
}
@media print, screen and (max-width: 640px) {
  #rensai-category-first-col #rensai-category-desc {
    width: 90%;
    text-align: left;
  }
}
@media print, screen and (min-width: 641px) {
  .cms-buttons-container {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .cms-button {
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 25px;
    padding-top: 6px;
    font-size: 16px !important;
    float: left;
    font-weight: bold;
  }
  .cms-button-width150 {
    width: 150px;
  }
  .cms-button-white {
    background-color: #fff;
  }
  .cms-button-red {
    background-color: #f00000;
  }
  .cms-button-grey {
    background-color: #cdcdcd;
  }
  .cms-overlay {
    border: 2px solid #f00000;
  }
  .cms-transparent-overlay {
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .cms-under-construction-txt {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .cms-dialog {
    display: none;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .cms-dialog h1 {
    font-size: 16px;
    font-weight: bold;
  }
  .cms-dialog .cms-submit-btn {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .cms-dialog .upload-text-field {
    width: 220px;
  }
  .cms-dialog .dialog-last-update-label {
    font-size: 9px;
  }
  .cms-dialog #error-list {
    color: #f00000;
    font-size: 12px;
    text-align: left;
    line-height: 140%;
  }
  .ui-dialog-titlebar {
    display: none;
  }
  table.cms-content-frame {
    margin: 0 auto;
  }
  table.cms-content-frame tr {
    height: 30px;
  }
  table.cms-content-frame tr .left-col {
    text-align: right;
    padding: 5px 10px 0 0;
    vertical-align: top;
    width: 40%;
  }
  table.cms-content-frame tr .right-col {
    text-align: left;
  }
  table.cms-content-frame tr .right-col input {
    width: 90%;
  }
  table.cms-content-frame tr .right-col textarea {
    height: 50px;
    width: 90%;
  }
  table.cms-content-frame tr .right-col select.longwidth {
    width: inherit;
  }
  table.cms-content-frame tr:last-child {
    height: 0px;
  }
  table.cms-content-frame tr.height40 {
    height: 40px;
  }
  table.cms-content-frame tr.height50 {
    height: 50px;
  }
}
@media print, screen and (max-width: 640px) {
  .cms-button {
    display: none;
  }
  .cms-transparent-overlay {
    display: none;
  }
  .css-overlay {
    display: none;
  }
  .cms-under-construction-txt {
    display: none;
  }
  .ui-dialog {
    display: none !important;
  }
  .cms-dialog {
    display: none !important;
  }
}
#cms-content-frame-home-headline-panel .home-cms-panel-headline-leftcol {
  width: 160px;
}
#cms-content-frame-home-headline-panel .home-cms-panel-headline-rightcol {
  width: 480px;
}
#home-headline-header-img-dialog table .home-cms-panel-headerimg-leftcol {
  width: 250px;
}
#rensai-create-article-category-dialog .cms-content-frame, #rensai-remove-article-category-dialog .cms-content-frame, #rensai-category-create-post-dialog .cms-content-frame {
  width: 98%;
}
#rensai-create-article-category-dialog .cms-content-frame caption p {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
#rensai-remove-article-category-dialog .cms-content-frame caption p, #rensai-category-create-post-dialog .cms-content-frame caption p {
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 14px;
  color: #f00000;
}
#rensai-create-article-category-dialog .cms-content-frame tr, #rensai-remove-article-category-dialog .cms-content-frame tr, #rensai-category-create-post-dialog .cms-content-frame tr, #rensai-category-delete-post-dialog .cms-content-frame tr {
  height: 40px;
}
#rensai-create-article-category-dialog .cms-content-frame tr .left-col, #rensai-remove-article-category-dialog .cms-content-frame tr .left-col, #rensai-category-create-post-dialog .cms-content-frame tr .left-col, #rensai-category-delete-post-dialog .cms-content-frame tr .left-col {
  width: 40%;
}
#rensai-create-article-category-dialog .cms-content-frame tr .right-col .right-col-input, #rensai-remove-article-category-dialog .cms-content-frame tr .right-col .right-col-input, #rensai-category-create-post-dialog .cms-content-frame tr .right-col .right-col-input, #rensai-category-delete-post-dialog .cms-content-frame tr .right-col .right-col-input {
  width: 90%;
}
#rensai-create-article-category-dialog .cms-content-frame tr .right-col .right-col-area, #rensai-remove-article-category-dialog .cms-content-frame tr .right-col .right-col-area, #rensai-category-create-post-dialog .cms-content-frame tr .right-col .right-col-area, #rensai-category-delete-post-dialog .cms-content-frame tr .right-col .right-col-area {
  resize: none;
  height: 150px;
}
@media print, screen and (min-width: 641px) {
  #news-first-col .page-header-img {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e3e2e2;
    margin: 0;
    background: #eee;
    padding: 0;
  }
  #news-first-col .page-header-img img {
    width: 60%;
    vertical-align: bottom;
  }
}
@media print, screen and (min-width: 641px) {
  #gadgets-first-col .page-header-img {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e3e2e2;
    margin: 0;
    border-top: 1px solid #e3e2e2;
    padding: 10px 0;
    padding: 0;
  }
  #gadgets-first-col .page-header-img img {
    width: 50%;
  }
}
@media print, screen and (max-width: 640px) {
  #gadgets-first-col .page-header-img-sp {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    border-bottom: 1px solid #e3e2e2;
    border-top: 1px solid #e3e2e2;
  }
  #gadgets-first-col .page-header-img-sp img {
    width: 73%;
  }
}
.howto-videoframe {
  text-align: center;
  background-color: #000;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
@media print, screen and (min-width: 641px) {
  .howto-videoframe {
    height: 360px;
    margin-bottom: 50px;
  }
}
@media print, screen and (max-width: 640px) {
  .howto-videoframe {
    height: 100%;
    margin-bottom: 10px;
  }
}
.howto-videoframe .now-loading-text {
  color: #fff;
}
@media print, screen and (min-width: 641px) {
  .howto-videoframe .now-loading-text {
    height: 360px;
    line-height: 360px;
  }
}
@media print, screen and (max-width: 640px) {
  .howto-videoframe .now-loading-text {
    height: auto;
    line-height: auto;
  }
}
